# server
__pycache__/
database.db

# React Native
node_modules/
npm-debug.log
yarn-error.log

# Dependency directories
## Node dependency directories
/client/node_modules/
/node_modules
## CocoaPods dependency directory (iOS)
/ios/Pods/
## Android directory (Android)
/client/android
## iOS directory 
/client/ios

/client/.bundle

/client/Gemfile

# Misc
.DS_Store
*.log
*.backup
*.csv
*.sublime-project
*.sublime-workspace
*.swp
*.tmp
*.bak
*.cache
*.diff
*.patch
*.orig


